{% load staticfiles %}
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>Gallery | Apple Events</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/nivoslider.css' %}">
<link rel="stylesheet" href="{% static 'css/skins/lilac.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<!-- HIDDEN PANEL 
================================================== -->
<p class="slide"></p>
<!-- HEADER
================================================== -->
<div class="row">	
		<div class="six columns">
			<div class="logo">
				<a href="{% url 'home' %}"> <img src="{% static 'images/apple/Logo.png' %}"> </a>
			</div>
		</div>
		<div class="six columns noleftmarg">		
			<nav id="nav-wrap">
				<ul class="nav-bar sf-menu">
					<li> <a href="{% url 'home' %}">Home</a> </li>
					<li>
					<a href="#">Gallery</a>
						<ul>						
							<li> <a href="{% url 'linenIndex' %}">Linens</a> </li>
							<li> <a href="{% url 'chairIndex' %}">Chair Covers & Sashes</a> </li>
						</ul>
					</li>
					<li><a href="#">Services</a>
						<ul><li><a href="{% url 'serviceLaundry' %}">Boutique Linen Rental Program</a></li></ul>
					</li>
					<li> <a href="{% url 'blog' %}">Blog</a> </li>
					<li> <a href="{% url 'about' %}">About us</a> </li>
					<li> <a href="{% url 'contact' %}">Contact</a> </li>
				</ul>
			</nav>
		</div>
</div>
<div class="clear">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader">
	<div class="row">
		<div class="twelve columns">
			<p class="left">
				 Chair Covers & Sashes
			</p>
		</div>
	</div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
	<!-- PROJECT DESCRIPTION-->
	<div class="five columns">
		<div class="sectiontitle">
			<h4>Chair Covers & Sashes</h4>
		</div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="seven columns">
		<div class="slider-wrapper theme-default">
			<div id="slider" class="nivoSlider detailslider">
				<img src="{% static 'images/apple/ChairCover01.jpg' %}" data-thumb="" alt=""/>
				<img src="{% static 'images/apple/ChairCover02.jpg' %}" data-thumb="" alt="">
			</div>
		</div>
	</div>
</div>
<div class="hr">
</div>
<div class="copyright">
	<div class="row">
		<div class="twelve columns">
			 &copy;<span class="small"> Copyright 2015</span>
		</div>
	</div>
</div>
<script src="{% static 'javascript/foundation.min.js' %}"></script>
<script src="{% static 'javascript/jquery.nivo.slider.pack.js' %}"></script>
<script src="{% static 'javascript/jquery.cycle.js' %}"></script>
<script src="{% static 'javascript/responsivemenu.js' %}"></script>
</body>
</html>